<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= hSC %></p>
<% p.forEach(function(pS){%>
<h1>
  <%= pS.title%>
</h1>
<p>
  <%= pS.post.substring(0, 100)+"..."%> <a href="posts/<%= pS.title%>">Read more</a>
</p>
<%})  %>
<%- include("partials/footer") -%>
